/* 

Page Styles

*/
img {
    box-shadow: 0.2em 0.2em #757575d2;
    min-width: 160rem;
}

pre {
    background-color: #064b99;
    color: #75b4fb;
}
code {
    background-color: #064b99;
    color: #75b4fb;
}
