p {
    margin: .5em;
}

.book_nav nav {
    padding: 2em;
    flex: 20%;
    max-width: 20%;
}

.book_nav:after {
    content: "";
    display: table;
    clear: both;

}
.book_nav {
    padding: 1.5em;
    white-space:nowrap;
}

.footer {
    float:left;
    clear:both;
}

.book_nav li {
    width: 100%;
    list-style-type: none;
}

body {
    display:flex;
}