/* 

Page Styles

*/ body
{
	font-family: 'times new roman', times, serif;
	font-size:140%;
	background-color: #EEE !important;
}

canvas{
    padding-top: 3em;
    padding-left: 1em;
}

h1 {
	font-size: 3.5em;
	font-weight: 400;
	letter-spacing: 3px;
    text-transform: uppercase;
}

h2, h3, h4 {
	padding-left: 1em;
	font-family: 'times new roman', times, serif !important;
	font-size:140%;
	border-bottom-style:solid;
}
#navlist label { 
	color: #000;
	border-bottom-style:solid;
}

#navlist ul { 
	color: #000;
	width:100%;
}

#navlist li {
	list-style-type: none;
	margin: 0;
	padding: .5em;
	padding-right: 2em;
	float:left;
}
/*** 

Navigation Style 

***/

/* The navigation bar */
.ye_navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
}

/* Links inside the navbar */
.ye_navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: .5em .5em;
  text-decoration: none;
}

/* Change background on mouse-over */
.ye_navbar a:hover {
  background: #ddd;
  color: black;
}

/* Tweak the main content to avoid overlap. */
.bootmark {
  margin-top: 2.5em; /* Add a top margin to avoid content overlay */
}