<div class="content" role="contentinfo">
  <a href="https://edward.delaporte.us/slides/share.html#text={{ title }}%20-%20https://edward.delaporte.us{{ page.url }} ">Share on Mastodon</a>
  <p>This work © 2020-2024 by Edward Delaporte is licensed under CC BY-NC-SA 4.0</p>
</div>
