<div class="content" role="contentinfo">
  <a href="https://edward.delaporte.us/slides/share.html#text={{ title }}%20-%20https://edward.delaporte.us{{ page.url }}
">
Share on Mastodon</a>
  <p>Copyright 2020-2023 Edward Delaporte</p>
</div>
