<nav class="ye_navbar" role="navigation"> 
  <span class="ye_navbar">
     <ul>
<li><a href="/">Edward.Delaporte.us</a></li>
<li><a class="desktop_only" href="/slides">Slides</a></li>
<li><a class="desktop_only" href="/code">Code</a></li>
<li><a class="desktop_only" href="/art">Art</a></li>
<li><a href="/Blog">Blog</a></li>
<li><a href="/resume">Resume</a></li>
</ul>
    </span>
</nav>
