---
title: Coding is Stupid - by Edward Delaporte
pagination:
    data: items
    size: 20
items: 
    - {id: "/blog/s3", name: "Build a static site on AWS S3", }
    - {id: "/blog/management", name: "For Managers", }
    - {id: "/blog/team", name: "Team Values", }
    - {id: "/blog/comics", name: "Comic Book Movies", }
    - {id: "/blog/web2", name: "Web 2.0", date: "2023 September"}
---

<!doctype html>
<html lang="en">

<head> 
<script src="/js/skipto.min.js"></script>
<script> var SkipToConfig =  { 'settings': { 'skipTo': { displayOption: 'popup' } } }; </script>
  
  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <title>{{ title }}</title>

<nav class="ye_navbar" role="navigation"> 
  <span class="ye_navbar">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  </span>
</nav>

<style>

h2 {
/* For use with more_nav */
  border-bottom-style:none;
  box-shadow: none;
}

</style>

</head> 
<body>

<div class="content" role="main">
  <h1> {{ title }} </h1>

  {{ content | safe }}

  <!-- List blog pages. -->
  <nav class="more_nav" role="navigation">
  <h2>Blog Topics</h2>
  {%- for item in pagination.items %}

  <li> <a href="{{item.id}}"> {{ item.name }} </a></li>

  {% endfor -%}
  <li><a href="/feed.xml">RSS Feed</a></li>
  <!-- https://www.11ty.dev/docs/plugins/rss/ -->
  </nav>


</div>
{% include "_footer.njk" %}
</html>
