---
title: Coding is Stupid - by Edward Delaporte
pagination:
    data: items
    size: 20
items: 
    - {id: "/", name: "Homepage", desc: ""}
    - {id: "/blog/", name: "Blog", desc: ""}
    - {id: "/blog/management", name: "For Managers", }
    - {id: "/blog/team", name: "Team Values", }
    - {id: "/blog/comics", name: "Comic Books", }
    - {id: "/blog/web2", name: "Web 2.0", date: "2023 September"}
---

<!doctype html>
<html lang="en">

<head> 
<script src="/js/skipto.min.js"></script>
<script> var SkipToConfig =  { 'settings': { 'skipTo': { displayOption: 'popup' } } }; </script>
  
  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <title>{{ title }}</title>

<nav class="ye_navbar" role="navigation"> 
  <span class="ye_navbar">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  </span>
</nav>

</head> 
<body>

<div class="content" role="main">
  <h1> {{ title }} </h1>

  <!-- List book pages. -->
  <nav class="book_nav" role="navigation">
  {%- for item in pagination.items %}

  <li> <a href="{{item.id}}"> {{ item.name }} </a></li>

  {% endfor -%}
  </nav>

{{ content | safe }}
<hr>
<div class="footer" role="contentinfo">
  <p><a href="/">Return to Edward.Delaporte.us</a></p>
  <p>Copyright 2020-2023 Edward Delaporte</p>
</div>
</div>
</html>
