---
title: Coding is Stupid - by Edward Delaporte
---

<!doctype html>
<html lang="en">

<head> 
<script src="/js/skipto.min.js"></script>
<script> var SkipToConfig =  { 'settings': { 'skipTo': { displayOption: 'popup' } } }; </script>
  
  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <title>{{ title }} - by Edward Delaporte</title>

<nav class="ye_navbar" role="navigation"> 
  <span class="ye_navbar">
    {{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
  </span>
</nav>

<style>

h2 {
/* For use with more_nav */
  border-bottom-style:none;
  box-shadow: none;
}

</style>

</head> 
<body>

<div class="content" role="main">
  <h1> {{ title }} </h1>

  {{ content | safe }}
</div>
{% include "_footer.njk" %}
</html>
