---
title: Blog Articles by Edward Delaporte
---

<!doctype html>
<html lang="en">

<head> 
<script src="/js/skipto.min.js"></script>
<script> var SkipToConfig =  { 'settings': { 'skipTo': { displayOption: 'popup' } } }; </script>
  
  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <title>{{ title }}</title>

{% include "_nav.njk" %}

<style>

h2 {
/* For use with more_nav */
  border-bottom-style:none;
  box-shadow: none;
}

</style>

</head> 
<body>

<div class="content" role="main">
  <h1> {{ title }} </h1>

  {{ content | safe }}

  <!-- List blog pages. -->
  <nav class="more_nav" role="navigation">
  <h2>Recent Blog Articles</h2>
  {%- for post in collections.blog | reverse %}
    {% if loop.index0 < 5 %}
    <li> <a href="{{post.url}}"> {{ post.data.title }} </a></li>
    {% endif %}
  {% endfor -%}

  <h2>Blog Topics</h2>
  {%- for post in collections.topic_index | reverse %}
  <li> <a href="{{post.url}}"> {{ post.data.title }} </a></li>
  {% endfor -%}


  <h2>RSS Feeds</h2>
  <li><a href="/blog.xml">Blog Posts</a>
  <li><a href="/art.xml">Art Pieces</a>
  <!-- https://www.11ty.dev/docs/plugins/rss/ -->
  </nav>


</div>
{% include "_footer.njk" %}
</html>
