---
title: Coding is Stupid - by Edward Delaporte
pagination:
    data: items
    size: 20
items: 
    - {id: "/", name: "Homepage", desc: ""}
    - {id: "/blog/", name: "Blog", desc: ""}
    - {id: "/blog/management", name: "For Managers", }
    - {id: "/blog/team", name: "Team Values", }
    - {id: "/blog/comics", name: "Comic Books", }
---

<!doctype html>
<html lang="en">

<head> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3SDE9WK2R2"></script>
<script src="/js/skipto.min.js"></script>
<script> var SkipToConfig =  { 'settings': { 'skipTo': { displayOption: 'popup' } } }; </script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3SDE9WK2R2');
</script>
<!-- End Google -->
  
  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <link rel="stylesheet" href="/css/book.css" /> 
  <title>{{ title }}</title>



</head> 
<body>

<!-- List book pages. -->
<nav class="book_nav" role="navigation">
{%- for item in pagination.items %}

<li> <a href="{{item.id}}"> {{ item.name }}</a></li>

{% endfor -%}
</nav>

<div class="content" role="main">

{{ content | safe }}
<hr>
<div class="footer" role="contentinfo">
  <p><a href="/">Return to Edward.Delaporte.us</a></p>
  <p>Copyright 2020-2023 Edward Delaporte</p>
</div>
</div>
</html>
