---
title: Coding is Stupid - by Edward Delaporte
---

<!doctype html>
<html lang="en">

<head> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3SDE9WK2R2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3SDE9WK2R2');
</script>
<!-- End Google -->
  
  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <title>{{ title }}</title>


</head> 
<body>

<nav class="ye_navbar" role="navigation"> 
<a href="/">Edward.Delaporte.us</a>
<a href="/slides">Presentations</a>
<a href="/resume">Resume</a>
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav>

<div class="content" role="main">
{{ content | safe }}
<div class="content" role="contentinfo">
  <p>Copyright 2021 Edward Delaporte</p>
</div>
</div>
</html>
