---
title: Welcome - Edward Delaporte's Website
---

<!doctype html>
<html lang="en">

<head> 
<script src="/js/skipto.min.js"></script>
<script> var SkipToConfig =  { 'settings': { 'skipTo': { displayOption: 'popup' } } }; </script>
<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
  
  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <link rel="stylesheet" href="/css/frontpage.css" /> 

  <title>{{ title }}</title>

<nav class="ye_navbar" role="navigation"> 
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav>


</head> 
<body>




<div class="content" role="main">

<h1> Edward Delaporte's Site</h1>
<!-- Highlights -->

{{ content | safe }}
</div>

<div class="content" role="contentinfo">
  <hr/>
  <p>Copyright 2020-2023 Edward Delaporte</p>
</div>

</html>