---
title: Edward Delaporte's Blog
---

<!doctype html>
<html lang="en">

<head> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3SDE9WK2R2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3SDE9WK2R2');
</script>
<!-- End Google -->
  
  <link rel="stylesheet" href="/style/edthedev.css" /> <script src="/js/bootmark.min.js"></script>
  <title>{{ title }}</title>
</head> 
<body>

<nav class="ye_navbar"> 
<a href="/">Edward.Delaporte.us</a>
<a href="/slides">Presentations</a>
<a href="/resume">Resume</a>
</nav>
<div>
{{ content | safe }}
</div>
<div>
<p>Copyright 2021 Edward Delaporte</p>
</div>

</html>
