---
title: Joanna Delaporte's Site
---

<!doctype html>
<html lang="en">

<head> 
  
  <link rel="stylesheet" href="/css/jdelaporte.css" />
  <title>{{ title }}</title>

<nav class="ye_navbar" role="navigation"> 
<a href="/">Joanna.Delaporte.us</a>
<a href="/presentations">Presentations</a>
<a href="/resume">Resume</a>
</nav>

</head> 
<body>


<div class="content" role="main">
{{ content | safe }}
</div>
<div class="content" role="contentinfo">
  <p>Copyright 2019-2021 Joanna Delaporte</p>
</div>
</html>
