---
title: Edward Delaporte's Art
script: /js/art/cross.js
---

<!doctype html>
<html lang="en">

<head> 
<script src="/js/skipto.min.js"></script>
<script> var SkipToConfig =  { 'settings': { 'skipTo': { displayOption: 'popup' } } }; </script>

  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <link rel="stylesheet" href="/css/art.css" /> 
  <title>{{ title }}</title>
  <script src="/js/p5.js"></script>
  {% for source in script %}
    <script src="{{source}}"></script>
  {% endfor %}

</head> 
<body>

<nav class="ye_navbar" role="navigation"> 
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav>


<div class="content" role="main"> <!-- No role="main" here because the script will add a main tag. -->
<h1> {{ title }} </h1>
{{ content | safe }}
<main role="application"> <!-- Script output will be written here. -->
</main>

</div>
<div class="content" role="contentinfo">
  <p>You can read the source code at 
  {% for source in script %}
      <li>
        <a href="https://github.com/edthedev/edthedev.github.io/blob/main{{source}}">
        {{source}}</a>
      </li>
  {% endfor %}
</div>

{% include "_footer.njk" %}
</html>
