---
title: Edward Delaporte's Art
script: /js/art/cross.js
---

<!doctype html>
<html lang="en">

<head> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3SDE9WK2R2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3SDE9WK2R2');
</script>
<!-- End Google -->
  
  <link rel="stylesheet" href="/css/edthedev.css" /> <script src="/js/bootmark.min.js"></script>
  <link rel="stylesheet" href="/css/gallery.css" /> <script src="/js/bootmark.min.js"></script>
  <title>{{ title }}</title>
  <script src="/js/p5.js"></script>
  <script src="{{script}}"></script>


</head> 
<body>
<nav class="ye_navbar"> 
  <a href="/">Edward.Delaporte.us</a>
  <a href="/art/live">Live Art</a>
  <a href="/slides">Presentations</a>
  <a href="/resume">Resume</a>
</nav>

<div class="content">
  {{ content | safe }}
    <main>
    </main>
  <div>
    <p>Copyright 2021 Edward Delaporte</p>
  </div>
</div>
</html>
