---
title: Edward Delaporte's Slide Decks 
---

<!doctype html>
<html lang="en">

<head> 
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-3SDE9WK2R2"></script>
<script src="/js/skipto.min.js"></script>
<script> var SkipToConfig =  { 'settings': { 'skipTo': { displayOption: 'popup' } } }; </script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-3SDE9WK2R2');
</script>
<!-- End Google -->
  
  <link rel="stylesheet" href="/css/edthedev.css" /> 
  <link rel="stylesheet" href="/css/slide_list.css" /> 
  <title>{{ title }}</title>

<nav class="ye_navbar" role="navigation"> 
{{ collections.all | eleventyNavigation | eleventyNavigationToHtml | safe }}
</nav>
<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />

</head> 
<body>

<div class="content" role="main">
{{ content | safe }}
</div>
<div class="content" role="contentinfo">
  <p>Copyright 2020-2023 Edward Delaporte</p>
</div>
</html>
