body
{
	font-family: 'times new roman', times, serif;
	font-size:140%;
}

h1, h2, h3, h4 {
	padding-left: 1em;
	font-family: 'times new roman', times, serif !important;
	font-size:140%;
	border-bottom-style:solid;
}

#navlist li
{
	list-style-type: none;
	margin: 0;
	padding: .5em;
	padding-right: 2em;
	float:left;
}
