body
{
	padding-left: 2em;
	font-family: 'times new roman', times, serif;
	font-size:140%;
	background-color: #EEE !important;
}

h1, h2 {
	padding-left: 1em;
	font-family: 'times new roman', times, serif !important;
	font-size:140%;
	border-bottom-style:solid;
}

h3, h4 {
	padding-left: 1em;
	font-family: 'times new roman', times, serif !important;
	font-size:100%;
	border-bottom-style:dotted;
}

#navlist label { 
	color: #000;
	border-bottom-style:solid;
}

#navlist ul { 
	color: #000;
	width:100%;
}

#navlist li {
	list-style-type: none;
	margin: 0;
	padding: .5em;
	padding-right: 2em;
	float:left;
}
